.frame-adv-bound{
	width:545px;
	text-align:center;
	padding-left:8px;
	#padding-left:0px;
}
.frame-adv-title{
}
.frame-adv-title-left{
}
.frame-adv-title-right{
}
.frame-adv-title-center{
}
.frame-adv-content-center{
	padding:3px; border:2px solid #ddd;
}