.cms-advertisment-vertical .advertisment-bound{
	text-align:center;
}
.cms-advertisment-vertical .advertisment-bound img{
	display:block;
}
.cms-advertisment-vertical .advertisment-bound a{
	display:block;
	text-align:center;
}
