.frame-home-bound{
    background: #f4f4f4;
    width: 100%;
    padding-bottom: 8px;
}
.frame-home-title{
    border: solid 1px #dcdcdc;
    padding: 1px 1px 1px 1px;
    height: 28px;
}
.fr-ht-bound{
}
.fr-ht-b-left{
    float: left;
    background: url(images/left-frame-bg.png) repeat-x;
    height: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    font-family: Arial,Times New Roman;
    font-size: 12px;
    font-weight: bold;
    padding-left: 9px;
}
.fr-ht-b-right{
    float: left;
    width: 28px;
    height: 28px;
    background: url(images/right-frame-bg.png) no-repeat;
}
.frame-home-content{
    margin-top: 1px;
    border: solid 1px #dcdcdc;
}