.frontend-frame-title .frame-default-bound{
	margin-bottom:5px;
}
.frontend-frame-title .frame-default-title{
}
.frontend-frame-title .frame-default-title-left{
}
.frontend-frame-title .frame-default-title-right{
}
.frontend-frame-title .frame-default-title-center{
	color:#0052CC; font-weight:bold; text-transform:uppercase; height:30px; line-height:36px;
}
