.frontend-frame-orange .frame-home-bound{
	margin-bottom:20px;
}
.frontend-frame-orange .frame-home-title,
.frontend-frame-orange .frame-home-title a:link,
.frontend-frame-orange .frame-home-title a:visited,
.frontend-frame-orange .frame-home-title a:hover,
.frontend-frame-orange .frame-home-title a:visited:hover{
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	border-bottom:1px solid #CCCBCA;
	padding-bottom:10px;
	color:#DB4702;
	text-decoration:none;
}
.frontend-frame-orange .frame-home-content{
	padding-top:15px;
}